[Unit]
Description=Sync gshadow/shadow with group/passwd
DefaultDependencies=no
Before=systemd-sysusers.service sysinit.target
After=local-fs.target

[Service]
Type=oneshot
# Recreate gshadow from scratch so stale entries from bootc 3-way merge don't break sysusers
ExecStart=/bin/rm -f /etc/gshadow
ExecStart=/usr/sbin/grpconv
ExecStart=/usr/sbin/pwconv
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
